<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thats-my-opinion</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">That's my opinion</a>
      </h1>
       <nav>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <!--body added with handle bar for plugged in changes more easily -->
      {{{ body }}}
    </main>
    <footer>11
      Thank you for your visit!
    </footer>
  </div>

</body>

</html>