<table class="category-list">
    <tbody>
        <tr class="heading">
            <th>Category</th>
        </tr>
        <tr class="row">
            <td class="category-row">
                <div class="cat-name"><a href="api//posts?category=news">News & Announcements</a></div>
                <div class="cat-desc">Official site news and announcements.</div>
            </td>
        </tr>
        <tr class="row">
            <td class="category-row">
            <div class="cat-name"><a href="api//posts?category=general">General</a></div>
            <div class="cat-desc">No other category fit? Try here.</div>
            </td>
        </tr>
        <tr class="row">
            <td class="category-row">
                <div class="cat-name"><a href="api//posts?category=art">Art & Literature</a></div>
            <div class="cat-desc">Yours, Theirs, Ours. Anything written or drawn should go here.</div>
            </td>
        </tr>
        <tr class="row">
            <td class="category-row">
            <div class="cat-name"><a href="api//posts?category=takes">Hot Takes</a></div>
            <div class="cat-desc">Rule #1 of Fight Club...</div>
            </td>
        </tr>
        <tr class="row">
            <td class="category-row">
            <div class="cat-name"><a href="api//posts?category=q&a">Q & A</a></div>
            <div class="cat-desc">Come for help and friendly advice!</div>
            </td>
        </tr>
        <tr class="row">
            <td class="category-row">
            <div class="cat-name"><a href="api//posts?category=vg">Video Games</a></div>
            <div class="cat-desc">Are ya winning, son?</div>
            </td>
        </tr>
    </tbody>
</table>