:root {
    --primary-color: #2F0A46;
    --secondary-color: #653A80;
    --tertiary-color: #AA8EBC;
    --color-error: #cc3333;
    --color-success: #4bb544;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
textarea {
    width: 80%;
    height: 80px;
}
button {
    display: block;
    margin: 10px 0;
}
.top-bar {
    background-color: var(--primary-color);
    padding: 0 40px;
    color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.main {
    background-color: var(--secondary-color);
    padding: 10px 40px;
}
.comments {
    margin: 40px 0;
}
.comment {
    margin: 10px 0;
}
.row {
    padding: 5px 0;
}
.bottom, .top-comment {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}
.comment-ts {
    padding-left: 10px;
}

.login-page {
    --border-radius: 4px;

    margin: 0;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--primary-color);
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}


.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success)
}

.form__message--error {
    color: var(--color-error)
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--primary-color);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

